* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 80%;
  margin-top: 10%;
  margin-left: 10%;
  font-size: 2rem;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
div#container {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 1rem;
  width: 100%;
  padding: 1rem;
}
div.channel {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1rem;
  margin-bottom: 1rem;
  align-items: center;
}
div.info {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: center;
}
div.system {
  display: grid;
  grid-template-columns: 0.3fr 2fr 0.3fr 2fr 8fr;
  grid-template-rows: 1fr;
  margin-bottom: 1rem;
  align-items: center;
  justify-items: start;
}
div.name {
  font-size: 0.8em;
  font-family: sans-serif;
  font-weight: bold;
  color: dimgray;
}

div.t2 {
  font-size: 0.7em;
  font-family: sans-serif;
  font-weight: bold;
  color: rgb(51, 65, 196);
}

button {
  padding: 1rem;
  border-radius: 1rem;
  border-width: 0px;
}

button.alarm {
  color: white;
  background-color: rgb(212, 48, 48);
  border-color: pink;
}

button.fault {
  color: white;
  background-color: rgb(255, 187, 0);
}

button.unknow {
  background-color: rgb(184, 184, 184);
}

button.delete {
  background-color: rgb(52, 168, 235);
}

button.start {
  background-color: greenyellow;
}

button.stop {
  color: white;
  background-color: orangered;
}

button.getinfo {
  color: white;
  background-color: rgb(3, 89, 139);
}

button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

h6.title {
  margin-bottom: 2rem;
  color: chocolate;
}

label.radio {
  font-size: 0.6em;
  font-family: sans-serif;
  font-weight: bold;
  color: rgb(138, 43, 207);
}
